.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px; 
}

.postTop {
    margin-bottom: 20px;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}

.postCenter {
    margin: 20px 0;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.postBottom {
    display: flex;
    align-items: center;
    margin-left: 15px;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.postBottomRight {
    margin-right: 35px;
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

.postCommentText {
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.postButton {
    border: none;
    padding: 7px;
    margin-left: 30px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.comment {
margin-left: 20px;
color:black;
display: block;
width: 700px;
height: 44px;
padding: 5px 2%;
border:1px solid #ccc;
-moz-border-radius: 27px;
-webkit-border-radius: 27px;
border-radius: 27px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
background-color: whitesmoke;
font-family:'HelveticaNeue','Arial', sans-serif;
font-size: 105%;
letter-spacing: .8px;
}

.comment2 {
    margin-left: 20px;
    color:black;
    display: block;
    width: auto;
    height: 60px;
    padding: 5px 2%;
    border-radius: 27px;
    background-clip: padding-box;
    background-color: whitesmoke;
    font-size: 5%;
    letter-spacing: .8px;
    }

.commentUsername {
    margin-left: 5px;
    margin-top: 3px;
    font-size: 15px;
    font-weight: 500;
}

.commentComment {
    margin-left: 5px;
    font-size: 12px;
}


.postComment{
    text-align: left;
    margin-left: 15px;
    margin-top: 30px;
}

.btn-none{
    display: none;
}

.commentButton {
    border: none;
    padding: 7px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}