/* 전체 a태그에 밑줄 제거, 컬러 그대로 상속*/
a { 
    text-decoration:none ;
    color: inherit;
}

/* 해더 전체 조정 */
.header {
    display: flex;
    justify-content: space-between;
    /* list-style: none; */
    background-color: #fff;
    padding: 5px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
/* 로고창 */
.logocase{
    height: 130px;
    /* overflow: hidden; */
}
/* 로고 */
.logo{
    width: 280px;
    height: 180px;
    cursor: pointer;

}
/* 헤더 네비게이션 */
.header__navmenu {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    text-align: center;
}
/* 해더 네비게이션의 버튼들 */
.header__navmenu__button{
    width: 90px;
    height: 90px;
    background: #fff;
    box-shadow: 0 5px 15px -5px #aaa;
    margin: 10px;
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    color: #42d2ff;

}
/* 헤더 네비게이션의 버튼 아이콘들 */
.header__navmenu__button__icon{
    width: 25px;
    height: 25px;
    position: relative;
    /* z-index: 4; */
    line-height: 90px;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: inherit;

}

.header__navmenu__button::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: linear-gradient(#00c6ff, #0072ff);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.header__navmenu__button:hover{
    color: #fff;
    transform: scale(1.3);
    cursor: pointer;
}

.header__navmenu__button:hover::before{
    animation: onHover 0.7s 1;
    left: -10%;
    top: -10%;
}

@keyframes onHover {
    0% {
        left : -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        top: -10%;
        left: -10%;
    }
}